Day25/SimpleType/chose.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xs:complexType name="myType">
		<xs:choice minOccurs="1" maxOccurs="3">
			<xs:element name="hello" type="xs:string"/>
			<xs:element name="world" type="xs:string"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="helloworld" type="myType"/>
</xs:schema>
