Day24/schema/group_x2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:group name="myGroup">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="brithday" type="xs:date"/>
			<xs:element name="age" type="xs:integer"/>
		</xs:sequence>
	</xs:group>
	
	<xs:element name="person">
		<xs:complexType>
			<xs:group ref="myGroup">
			</xs:group>
		</xs:complexType>
	</xs:element>
</xs:schema>
