Day23/schema/pets_sh.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xs:element name="cat" type="xs:string"/>
	<xs:element name="dog" type="xs:string"/>
	
	<xs:complexType name="myType">
		<xs:sequence>
			<xs:element ref="cat"/>
			<xs:element ref="dog"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="pets" type="myType" />
</xs:schema>
